*.avi
*.mp4
*.mpeg
*.__pycache__
*.pt
*.png
*.jpeg
*.pdf
*.zip
*.pth


poseVideos/*
!poseVideos/.gitkeep
__pycache__/
pose-trainer/
Data/
runs/
model/utils/pose_results.py
model/utils/pose_results_two.py

accuracy_plot.png!
metrics_evolution.png!
server/logs
*.npy

study/